@media only screen and (min-width:768px) {
    .alphabet-container {
        grid-gap: 20px;
    }
    
    nav{
        height: 10vh;
    }
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .items-menu-div{
        height: 80vh;
    }

    .bird-image{
        width: 100%; 
        margin: 1rem 0 2rem 0;
    } 
    
    .bird-image>img{
        width: 60%;
    }

    .items-menu{
        width: 80%;
    }
    
    .alpha-item{
        width: 15%;
    }
    
}
