@media only screen and (min-width:768px) {
    .alphabet-container {
        grid-gap: 20px;
    }
    
    nav{
        height: 10vh;
    }
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .items-menu-div{
        height: 80vh;
    }


    .items-menu{
        width: 80%;
    }
    
    .alpha-item{
        width: 15%;
    }
    
}
