@media only screen and (min-width:768px) {

    nav{
        height: 10vh;
    }
    
    .items-menu-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .items-menu{
        width: 85%;
    }
    
    .alpha-item{
        width: 14%;
        font-size: 2.4rem;
        height: 76px;
        line-height: 76px;
    }
    
    .images {
        width: 90%;
        transform: translateX(-2.5%);
    }

    .play-image>svg {
        width: 40%;
    }

    .bird-image>img {
        width: 95%;
    }
}

@media only screen and (min-width:1024px) {
    .images{
        width: 72%;
        transform: translateX(-5%);
    }

    .bird-image>img{
        width: 90%;
    }
    
    .play-image>svg{
        width: 35%;
    }

    .items-menu{
        width: 80%;
    }
    
    .alpha-item{
        height: 80px;
        line-height: 80px;
    }

}