/********************
REUSABLE & COMMON-CODE
********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background-color: var(--blue);
    color: var(--white);
}

:root {
    --blue: #5faee3;
    --pink: #f41971;
    --white: #ffffff;
    --orange:#f39c12;
    --dark-orange : #d35400;
}

.container{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}

/*********************
** CHOOSE THE RIGHT **
*********************/

/**** NAV *****/

nav{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 1.3rem;
}

.score-container{
    height: 30px;
    line-height: 30px;
}

.score{
    font-size: 1.3rem;
    text-align: center;
    color: var(--white);
}

/*** MAIN ***/

main{
    width: 100%;
    height: 80vh;
}

.items-menu-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 65vh;
    margin-bottom:auto;
}

.items-menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 92%;
}

.alpha-item{
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color: var(--orange);
    box-shadow: 0 8px var(--dark-orange);
    cursor: pointer;
    border-radius: 12px;
    font-size: 2rem;
    width: 20%;
    height: 64px;
    line-height: 64px;
    vertical-align: top;
    transition: 0.375s ease;
    /* to remove the blue ugly shade when pressing the button */
    -webkit-tap-highlight-color: transparent;
}

.btn-clicked{
    box-shadow: 0 8px transparent;
    transform: translateY(8px);
    transition: 0.375s ease;
}

/**** IMAGES ****/

.images{
    display: flex;
    width: 96%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.play-image{
    order: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.bird-image{
    order: 1;
}

.play-image,
.bird-image{
    position: relative;
    text-align: center;
    display: block;
    text-align: center;
    width: 100%; 
} 

.bird-image>img{
    width: 100%;
    height: 100%;
}

.play-image>svg{
    width: 57%;
    height: 100%;
    transform: translateY(-6%);
    cursor: pointer;
}

/**** PLAY-BUTTON ****/

.light-triangle,
.dark-triangle{
    transition: 0.4s ease;
}

.light-triangle-clicked,
.dark-triangle-clicked{
    transition: 0.4s ease;
}

.light-triangle-clicked{
    transform:translateY(24px);
}

.dark-triangle-clicked{
    display: none;
}