@media only screen and (min-width:768px) {
    nav{
        height: 8vh;
    }

    .home-img{
        width: 42px;
    }

    .alter-language{
        font-size: 2.6rem;
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alphabet-container{
        grid-template-columns: repeat(auto-fit,minmax(117px,1fr));
        grid-auto-rows: 117px;
        grid-gap: 27px 15px;
    }
    
    .alphabet{
        font-size: 4rem;
        box-shadow: 0 12px var(--dark-orange);
    }

    .btn-clicked{
        box-shadow:none;
        transform: translateY(12px);
    } 

}


@media only screen and (min-width:1024px) and (min-height:1024px) {
    .alphabet-container{
        grid-template-columns: repeat(auto-fit,minmax(155px,1fr));
        grid-auto-rows: 155px;
        grid-gap: 35px 19px ;
    }

    .alphabet{
        font-size: 5rem;
        box-shadow: 0 16px var(--dark-orange);
    }

    
    .btn-clicked{
        box-shadow:none;
        transform: translateY(16px);
    } 
    
}
