/********************
REUSABLE & COMMON-CODE
********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Amiri', serif;
    background-color: var(--blue);
    color: var(--white);
}

:root {
    --blue: #5faee3;
    --pink: #f41971;
    --dark-pink: #d00a5a;
    --white: #ffffff;
    --orange:#f39c12;
    --dark-orange : #d35400;
}

.container{
    width: 96%;
    margin: 0 auto;
}

/********************
******* HOME *********
********************/

/*** NAV ***/

nav{
    height: 6vh;
    width: 100%;
    display: flex;
}


.nav-list {
    display: flex;
    align-items: center;
    margin-right: auto;
    list-style-type: none;
    margin-top: 0.5rem;
    width: 100%;
}

.nav-list>li:first-child{
    margin-right: auto;
}

.nav-list>li{
    text-align: center;
    margin-left: 0.8rem;
    height: 100%;
}

.alter-language {
    font-family: 'Roboto', sans-serif;
    color: var(--pink);
    text-shadow: 0 2px var(--dark-pink);
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.home-img {
    width: 30px;
    height: 100%;
}

/*** CENTER ***/

main{
    width: 100%;

}

.alphabet-container{
    display: grid;
    grid-gap: 12px 6px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    list-style-type: none;
    height: 88vh;
    padding: 8px 0;
    max-width: 1200px;
}

.alphabet{
    margin: 0 auto;
    text-align: center;
    background-color: var(--orange);
    box-shadow: 0 6px var(--dark-orange);
    position: relative;
    cursor: pointer;
    /* to remove the blue ugly shade when pressing the button */
    -webkit-tap-highlight-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 12px;
    width: 100%;
    transition: 0.375s ease;
    position: relative;

}

.btn-clicked{
    box-shadow: none;
    transform: translateY(6px);
    transition: 0.375s ease;
}

.alpha-span{
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    left:25%;
    top: 3%;
}