/********************
REUSABLE & COMMON-CODE
********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Amiri', serif;
    background-color: var(--blue);
    color: var(--white);
}

:root {
    --blue: #5faee3;
    --pink: #f41971;
    --white: #ffffff;
    --orange:#f39c12;
    --dark-orange : #d35400;
}

.container{
    width: 95%;
    margin: 0 auto;
}

/********************
******* HOME *********
********************/

.home,
.about-me {
    height: 100vh;
}

nav{
    height: 15vh;
    width: 100%;
    display: flex;
}

main{
    width: 100%;
    height: 80vh;
}

.main-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 15px;
    list-style-type: none;
    transform: translateY(110px);
}

.person-image{
    display: none;
}

.alphabet-container{
    display: grid;
    grid-gap: 12px 6px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    list-style-type: none;
    height: 80vh;
}

.menu-choice,
.alphabet{
    margin: 0 auto;
    text-align: center;
    background-color: var(--orange);
    box-shadow: 0 6px var(--dark-orange);
    position: relative;
    cursor: pointer;
    /* to remove the blue ugly shade when pressing the button */
    -webkit-tap-highlight-color: transparent;
}

.menu-choice{
    border-radius: 50px;
    width: 75%;
    font-size: 2rem;
    padding: 4px;
}

.alphabet{
    border-radius: 12px;
    width: 100%;
    font-size: 1.8rem;
    transition: 0.375s ease;
}

.menu-choice-link:visited,
.menu-choice-link:active,
.menu-choice-link{
    text-decoration: none;
    color: var(--white);
    width: 50%;
}

.btn-clicked{
    box-shadow: none;
    transform: translateY(6px);
    transition: 0.375s ease;
}

.alpha-span{
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 3%;
    left:25%;
}

.alpha-high{
    top:12%;
}

.alpha-down{
    top:-12%;
}