@media only screen and (min-width:768px) {
    html{
        font-size: 18px;
    }
    
    nav{
        height: 10vh;
    }

    main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90vh;
    }

    .container{
        max-width: 768px;
    }

    .main-div{
        flex-direction: row;
        justify-content: space-between;
        width: 96%;
        transform: translateY(-50%);
    }    
    
    .bird-on-stairs-image{
        width: 55%; 
        text-align: center;
        order: 0;
    } 

    .bird-on-stairs-image>img{
        width: 100%;
    }

    .main-menu{
        margin-right:0;
        width: 45%;
        order: 1;
        transform: translateY(25%);
    }

    .menu-choice{
        width: 90%;
    }
 
}

@media only screen and (min-width:1024px) {

    .container{
        max-width: 1024px;
    }

    .main-div{
        transform: translateY(-15%);
    }   


    .main-menu{
        width: 32%;
        order: 1;
        transform: translateY(25%);
    }

    .menu-choice{
        width: 90%;
    }
 
    .bird-on-stairs-image{
        width: 55%; 
    } 

    .bird-on-stairs-image>img{
        width: 88%;
    }

}
