@media only screen and (min-width:768px) {

    nav{
        height: 10vh;
    }
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main-div{
        transform: translateY(-50px);
    }    
    
    .person-image{
        width: 65%; 
        position: relative;
        text-align: center;
        display: block;
        text-align: center;
    } 

    .person-image>img{
        width: 68%;
    }

    .main-menu{
        margin-right:0;
        width: 35%;
        transform: none;
    }

    .menu-choice{
        border-radius: 50px;
        width: 80%;
        padding: 2px 12px;
    }
 
}
