/********************
REUSABLE & COMMON-CODE
********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background-color: var(--blue);
    color: var(--white);
}

:root {
    /* --blue: #5faee3; */
    --blue: #ffffff;
    --pink: #f41971;
    --white: #ffffff;
    --orange:#f39c12;
    --dark-orange : #d35400;
}

.container{
    width: 96%;
    margin: 0 auto;
}

/********************
******* HOME *********
********************/

nav{
    height: 12vh;
    width: 100%;
    display: flex;
}

main{
    height: 70vh;
}

.main-div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap : 2.2rem;
    transform: translateY(16%);/* this might be edited or removed if I added nav tag */
}

.bird-on-stairs-image{
    order: 0;
    width: 65%; 
    text-align: center;
} 

.bird-on-stairs-image>img{
    width: 100%;
}

.main-menu{
    order: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 15px;
    list-style-type: none;
    margin: 0 auto;
}

.menu-choice{
    margin: 3px 0 3px auto;
    text-align: center;
    background-color: var(--orange);
    box-shadow: 0 8px var(--dark-orange);
    position: relative;
    cursor: pointer;
    /* to remove the blue ugly shade when pressing the button */
    -webkit-tap-highlight-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50px;
    width: 100%;
    padding:1rem;
    word-spacing:2px;
}

.menu-choice:active{
    box-shadow: 0 8px transparent;
    transform: translateY(8px);
    transition: 0.375s ease;
}

.menu-choice-link:link,
.menu-choice-link:visited,
.menu-choice-link:hover{
    text-decoration: none;
    color: var(--white);
    width: 50%;
}